@use "../../../assets/css/global.module.scss" as global;
.btn {
  border: 1px solid var(--color-point);
  color: var(--color-point);
  padding: 8px 16px;
  border-radius: 999px;
  line-height: 20px;
  @include global.flex_center;

  img {
    margin-left: 6px;
    vertical-align: middle;
  }

  // 신규 등록
  &.add {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 14px 20px;
    border: none;
    min-width: 135px;

    &.point_color {
      background-color: var(--color-point);
    }

    &.dark_point_color {
      background-color: #164e97;
      color: #fff;
    }

    &.gr_color {
      background-color: #4b5159;
    }

    &.delete {
      color: var(--color-gr-3);
      border: 1px solid var(--color-gr-3);
    }
  }

  &.template {
    width: 100%;
    padding: 10px 16px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;

    &.point_color {
      background-color: var(--color-point);
    }

    &.gr_color {
      background-color: #4b5159;
    }

    &.delete {
      background-color: #fff;
      border: 1px solid var(--color-gr-3);
      color: var(--color-gr-3);
    }
  }

  // 테이블 인쇄 버튼
  &.printer {
    color: var(--color-gr-2);
    border: 1px solid var(--color-gr-2);
  }

  // 테이블 수정 삭제 버튼
  &.table {
    line-height: 1;
    padding: 8px 12px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gr-6);
    border: 1px solid var(--color-gr-6);
    border-radius: 999px;

    &.modify {
      &:hover {
        border: 1px solid var(--color-point);
        color: var(--color-point);
        background-color: var(--color-point);
        color: #fff;
        font-weight: 600;
      }
    }

    &.delete {
      &:hover {
        font-weight: 600;
        background-color: var(--color-gr-3);
        color: #fff;
        border: 1px solid var(--color-gr-3);
      }
    }

    &.report_download {
      border-radius: 999px;
      position: relative;
      padding-right: 25px;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        right: 7px;
        background-image: url("../../../../public/images/report_download.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:hover {
        font-weight: 600;
        color: var(--color-gr-3);
        border: 1px solid var(--color-gr-3);

        &::after {
          background-image: url("../../../../public/images/report_download_ative.svg");
        }
      }
    }

    &.result_cover {
      border-radius: 999px;
      position: relative;
      padding-right: 25px;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        right: 7px;
        background-image: url("../../../../public/images/table_btn_copy.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:hover {
        font-weight: 600;
        color: var(--color-gr-3);
        border: 1px solid var(--color-gr-3);

        &::after {
          background-image: url("../../../../public/images/table_btn_copy_action.svg");
        }
      }
    }
  }

  &.run {
    width: 100%;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid var(--color-point);
    color: var(--color-point);
    position: relative;

    &.point_color {
    }

    &.gr_color {
      border: 1px solid var(--color-gr-2);
      color: var(--color-gr-2);
    }

    &.replay {
      border: 1px solid #164e97;
      color: #164e97;
    }
  }

  &.select {
    padding: 10px 10px 10px 16px;
    background-color: var(--color-gr-2);
    border: none;
    color: #fff;
    font-weight: 600;
  }

  &.submit {
    padding: 14px 20px;
    width: 160px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    color: #fff;
    background-color: var(--color-point);

    &.gr_color {
      background-color: rgb(75, 81, 89, 0.3);
      // color: var(--color-gr-3);
    }
  }

  //
  &.disabled {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      z-index: 11px;
      width: 110%;
      height: 110%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

// more_btn
.more_btn_wrapper {
  position: relative;

  .more_btn {
  }

  .more_btn_action_box {
    position: absolute;
    z-index: 99;
    padding: 12px;
    width: 97px;
    background-color: #fff;
    right: 50%;
    top: 120%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    opacity: 0;
    overflow: hidden;
    transition: opacity 0.4s ease;

    display: flex;
    flex-direction: column;
    gap: 6px;

    button {
      height: 32px;
      background-color: var(--color-point);
      display: flex;
      width: 100%;
      @include global.flex_center;
      color: #fff;
      font-size: 13px;
      border-radius: 999px;
      border: none;

      img {
        width: 12px;
        height: auto;
        margin-left: 6px;
      }
    }
    :nth-child(2) {
      background-color: var(--color-gr-2);
    }

    :nth-child(3) {
      color: var(--color-gr-2);
      background-color: #fff;
      border: 1px solid var(--color-gr-2);
    }

    &.more_btn_action {
      opacity: 1;
    }
  }
}

// 라인 버튼
.line_btn {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-point);
  border: 1px solid var(--color-point);
  border-radius: 9999px;

  &.isImg {
    padding-right: 12px;
  }
}

// count_control_btn
.count_control_btn {
  width: 24px;
  height: 24px;
  background-color: var(--color-gr-2);
  border-radius: 999px;
  @include global.flex_center;
}

.sample_btn {
  color: var(--color-point);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--color-point);
  text-underline-offset: 3px;
  @include global.flex_center;
  margin-top: 12px;

  img {
    margin-left: 6px;
    padding-top: 2px;
  }
}
