@use "../../assets/css/global.module.scss" as global;

// [s]pie chart - 원형 차트
.pie_wrapper {
  // width: 300px;
  // height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip_box {
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 12px 16px;

  .value {
    width: 92px;
    font-size: 14px;
    color: var(--color-gr-3);

    span {
      font-size: 20px;
      @include global.spoqa_fonts;
      color: var(--color-bk);
      font-weight: 700;
      margin-right: 2px;
    }
  }

  .bar_tooltip_label {
    margin-bottom: 4px;
    color: var(--color-gr-3);
    font-size: 13px;
    font-weight: 600;
  }

  // stacked_bar_value
  .stacked_bar_value {
    margin-top: 4px;
    .stacked_bar_value_item {
      .name {
        margin: 4px 0;
        color: var(--color-gr-3);
        font-size: 13px;
        font-weight: 500;
      }

      .num {
        font-size: 17px;
        @include global.spoqa_fonts;
        color: var(--color-bk);
        font-weight: 600;
        margin-right: 2px;
      }
    }
  }
}

// --------------------------------
.pie_chart_num_wrapper {
  display: flex;

  .pie_chart_num_item {
    width: 110px;
    .label {
      font-size: 12px;
      color: var(--color-gr-3);
      margin-bottom: 6px;
    }

    .pie_chart_num {
      display: flex;
      align-items: center;

      .circle {
        background-color: var(--color-red-2);
        width: 12px;
        height: 12px;
        margin-right: 12px;
        border-radius: 9999px;
      }

      .num {
        @include global.spoqa_fonts;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }

    &.violation {
      width: auto;

      .circle {
        background-color: var(--color-red);
      }
    }
  }
}
// [e]pie chart - 원형 차트
// [s]bar chart - 막대 차트
// [s]stacked bar chart - 부서별 차트
.pie_chart_num_wrapper {
  width: 100%;
  display: flex;
  gap: 23px;
  justify-content: end;

  .item {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 999px;
      background-color: var(--color-point);
      margin-right: 8px;
    }

    &:nth-child(2) {
      span {
        background-color: var(--color-red);
      }
    }

    &:nth-child(3) {
      span {
        background-color: var(--color-yellow);
      }
    }

    &:nth-child(4) {
      span {
        background-color: var(--color-purple);
      }
    }

    &:nth-child(5) {
      span {
        background-color: var(--color-orange);
      }
    }
    &:nth-child(6) {
      span {
        background-color: var(--color-gr-2);
      }
    }
  }
}

.stacked_bar_chart_wrapper {
  min-width: 100%;
}
