@use "../../assets/css/global.module.scss" as global;

.search_org {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}

.tree_wrapper {
  margin-top: 20px;
  @include global.scrollbarY(500px);

  &.min_hight {
    @include global.scrollbarY(700px);
  }
}

// -----------------
.org_toggle_item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  // 아이콘
  .toggleIcon_icon {
    display: inline-block;
    @include global.flex_center;
    width: 19px;
    height: 19px;
    background-color: var(--color-gr-3);
    border-radius: 4px;
    margin-right: 8px;
    img {
      width: 11px;
    }
  }

  // 부서명
  .org_toggle_item_text {
    font-size: 15px;
  }

  // 최상위 아이콘 일 때
  &.topItem {
    margin: 15px 0 10px;

    .toggleIcon_icon {
      width: 24px;
      height: 24px;
      background-color: var(--color-point);

      img {
        width: 16px;
      }
    }

    .org_toggle_item_text {
      font-size: 16px;
    }
  } // [e] 최상위 아이콘 일 때

  // 하위 아이콘 일 때
  &.chid_item {
    position: relative;

    .org_toggle_item_text {
      font-size: 14px;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 15px;
      height: 15px;
      left: -15px;
      bottom: 9px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../../../public/images/tree_line.svg");
      width: 20px;
      background-size: auto;
    }
  }
}
