@use "../../../assets/css/global.module.scss" as global;

.search_input_wrapper {
  height: 44px;
  padding: 8px 20px;
  border: 1.4px solid var(--color-gr-2);
  border-radius: 999px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  input {
    flex: 1;
    color: var(--color-gr-3);
  }

  button {
    width: 20px;
    height: auto;
  }

  &.tree {
    height: 44px;
    background-color: var(--color-gr-box);
    border: none;
    width: 100%;
  }
}

.common_input {
  background-color: var(--color-gr-box);
  padding: 8px 16px;
  font-size: 14px;
  width: 100%;
  height: 44px;
  border-radius: 8px;

  &::placeholder {
    color: var(--color-gr-3);
  }

  &.date {
    background-color: #fff;
    border: 1px solid var(--color-border);
    background: url("../../../../public/images/input_date.svg") no-repeat
      calc(100% - 16px) 10px;

    // ✅ 크롬/엣지 등에서 기본 아이콘 제거
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }

  &.round {
    border-radius: 999px;
    padding: 8px 20px;
  }

  &.count_control {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
}

.error {
  font-size: 13px;
  color: var(--color-red);
  margin-top: 6px;
  padding-left: 5px;
}

//훈련기간
.input_date_wrapper {
  width: 100%;
  display: flex;
  gap: 8px;

  .input_date {
    width: 100%;
  }

  span {
    &:nth-child(2) {
      display: inline-block;
      margin-top: 13px;
    }
  }
}

// radio 일때
.radio {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-gr-1);

  input {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid var(--color-border);
    border-radius: 50%; /* 원형 */
    outline: none;
    cursor: pointer;
    margin-right: 8px;

    &:checked {
      background-color: #fff;
      border: 3px solid var(--color-point); /* 체크 시 외곽선 */
      box-shadow: 0 0 0 1px var(--color-point); /* 체크 시 그림자 효과 */
    }
  }
}

// file input
.input_file_wrapper {
  display: flex;
  flex: 1;
  height: 44px;
  position: relative;

  .common_input {
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 24.5%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../../../../public/images/upload.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 9999999999999;
  }

  .file_box {
    input[type="file"] {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }

    .file_label {
      height: 44px;
      padding: 12px 16px;
      font-weight: 600;
      color: var(--color-point);
      border: 1px solid var(--color-point);
      @include global.flex_center;
      font-size: 15px;
      border-radius: 999px;
      cursor: pointer;
      width: 87px;
      margin-left: 8px;
    }
  }
  &.error {
    input {
      &::placeholder {
        color: var(--color-error);
      }
    }
  }
}
