@use "../../../assets/css/global.module.scss" as global;
// --------------------------------------------------
// [s] TrainingInfo
.info_content_wrapper {
  padding-top: 24px;
}
.info_content {
  width: 100%;
  font-size: 15px;
  flex-direction: column;
  @include global.scrollbar(589px, 0);

  i {
    margin-right: 8px;
    width: 16px;
    display: flex;
    align-items: center;
  }

  // item
  .info_item {
    color: var(--color-gr-font-sub-title);
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    .label {
      display: inline-block;
      font-weight: 600;
      min-width: 60px;
      margin-right: 20px;
    }

    .label_wrapper {
      display: flex;
      width: 100%;
    }

    .value {
      font-weight: 400;
      max-width: calc(100% - 60px - 16px - 20px);
      @include global.ellipsis;

      .tag {
        font-size: 13px;
        line-height: 1;
        display: inline-block;
        padding: 7px 12px;
        font-weight: 700;
        border-radius: 999px;
        color: var(--color-point);
        background-color: var(--color-point-sub);
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    // select_box
    &.select_box {
      flex-direction: column;

      .info_item_title_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .label_wrapper {
          width: calc(100% - 100px);
        }

        .label_tag {
          @include global.flex_center;

          padding: 5px 8px;
          background-color: var(--color-point);
          color: #fff;
          font-size: 13px;
          line-height: 1;

          border-radius: 4px;
        }
      }
    }
  }
}
