@charset "UTF-8";

body {
  position: relative;
  margin: 0 auto;
}

.no_scroll {
  overflow: hidden; /* 스크롤 비활성화 */
}

.container {
  width: 100%;
  min-height: 100vh;
}

/* 루트 */
:root {
  --color-bk: #0d0d0d;
  --color-side: #1b2232;
  --color-border: #d7d7d7;
  --color-point: #2f80ec;
  --color-point-sub: #e0ecfc;
  --color-point-sub-2: #eff5fe;
  --color-gr-1: #4b5159;
  --color-gr-font: #606060;
  --color-gr-tag: #979797;
  --color-gr-box: #f3f3f3;
  --color-gr-font-sub-title: #3a3a3a;
  --color-red: #ed4747;
  --color-red-2: #ffebeb;
  --color-gr-stroke: #d7d7d7;
  --color-point-2: #e0ecfc93;
  --color-yellow: #f2be04;
  --color-point-sb: #1b2232;

  /* 폰트 */
  --font-size-title: 19px;
}

/* 스크롤 */
*::-webkit-scrollbar {
  /* display: none; */
}
