@use "../../assets/css/global.module.scss" as global;

// [s] 상단 페이지 타이틀
.pg_title_wrapper {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 32px;
    font-weight: 600;
  }

  .pg_btn_wrapper {
    display: flex;
    gap: 8px;
  }
}
.dashboard_content_wrapper {
  display: flex;
  width: 100%;
}
// [e] 상단 페이지 타이틀
// -------------------------------------
// [e] StatNumItem 대시보드 상단 수치
.dashboard_num_item {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  height: 196px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .num_item_icon {
    width: 48px;
    height: 48px;
    background-color: #2f80ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    // 훈련참가인원
    &.p_count {
      background-color: #712ee2;
    }
    // 위반자 현황
    &.v_count {
      background-color: #f2be04;
    }

    // 총 위반 건수
    &.v_total_count {
      background-color: #ed4747;
    }
  }

  // 숫자 item
  .dashboard_stat_box {
    .label {
      font-weight: 600;

      color: var(--color-gr-font);
      margin-bottom: 8px;
    }

    .num {
      color: var(--color-gr-font);
      span {
        color: var(--color-bk);
        font-size: 32px;
        @include global.spoqa_fonts;
        font-weight: 700;
        margin-right: 6px;
        letter-spacing: -1.1px;
      }
    }
  }
}


// ----------------------------------------------
