@use "../../assets/css/global.module.scss" as global;
.section_box {
  @include global.box;
  width: 100%;
  padding: 40px 50px;
}
// ============================================================
// 파일 업로드 모달
.form_field_wrapper {
  padding: 52px 56px;
  width: 100%;
}

.content_item {
  width: 100%;
  display: flex;
  margin-bottom: 12px;

  .form_field {
    width: calc(100% - 92px - 16px);
  }
}
.label {
  @include global.label;

  // 필수
  .required_mark {
    @include global.required_mark;
  }
}
// =============================================================
