@use "../../assets/css/global.module.scss" as global;

.section_box {
  @include global.box;
  width: 100%;
  padding: 40px 50px;

  .content {
    min-height: 763px;
  }
}

.templates_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 23px 8px;
}

.templates_item {
  width: calc((100% - 24px) / 4);
  min-width: 320px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  height: auto;

  // title
  .item_title_wrapper {
    padding: 16px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);

    .item_title {
      font-size: 18px;
      letter-spacing: 0.5px;
      font-weight: 600;
      width: calc(100% - 90px);
      @include global.ellipsis;
    }
  }

  //   훈련현황
  .status_wrapper {
    width: 100%;
    margin-top: 20px;
    padding: 0 16px;

    .status_title_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .status_title {
        font-size: 16px;
        font-weight: 600;
      }

      .tag {
        padding: 3px 10px;
        height: 26px;
        display: flex;
        align-items: center;
        color: #fff;
        border-radius: 999px;
        font-weight: 600;
        border: 1px solid var(--color-gr-tag);
        color: var(--color-gr-tag);
        font-size: 14px;

        &.ing {
          border: 1px solid var(--color-point);
          color: var(--color-point);
        }

        &.end {
          border: 1px solid var(--color-point);
          background-color: var(--color-point);
          color: #fff;
        }
      }
    }

    // 훈련현황 바
    .bar_box {
      width: 100%;
      height: 12px;
      background-color: var(--color-point-sub);
      border-radius: 999px;
      margin: 16px 0 8px;
      overflow: hidden;
      display: flex;

      .bar_segment {
        flex: 1;
        background-color: var(--color-point);
        opacity: 0.2;
        transition: opacity 0.3s;

        &.active {
          opacity: 1;
        }

        &.active_last {
          border-top-right-radius: 999px;
          border-bottom-right-radius: 999px;
        }
      }
    }

    // 훈련현황 바 설명
    .status_info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .percent {
        font-weight: 700;
        color: var(--color-point);
      }

      .status_end {
        color: var(--color-gr-tag);

        &.action {
          font-weight: 600;
          color: var(--color-point);
        }
      }
    }
  }
  // 훈련셜명
  .item_info_wrapper {
    padding: 25px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
    }

    .info_label {
      font-weight: 600;
      width: 107px;
      font-size: 14px;

      color: var(--color-gr-font-sub-title);

      img {
        margin-right: 8px;
        width: 16px;
      }
    }

    .info_text {
      display: inline-block;
      width: calc(100% - 107px);
      color: var(--color-gr-font-sub-title);
      @include global.ellipsis;
    }
  }

  .item_btn_wrapper {
    padding: 30px 16px 24px;
    display: flex;
    gap: 6px;
    width: 100%;
  }
}
