.tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 9px;
  font-weight: 700;
  border-radius: 999px;
  margin-right: 6px;
  color: var(--color-point);
  background-color: var(--color-point-sub-1);

  &:last-child {
    margin-right: 0;
  }

  &.info {
    height: 26px;
    display: inline-block;
    line-height: 1;
    padding: 7px 12px;
  }

  &.tpl {
    font-size: 13px;
    padding: 3px 10px;
    color: #fff;
    margin-right: 8px;
    background-color: var(--color-gr-2);
  }

  &.user_num {
    justify-content: center;
    background-color: var(--color-point-sub-2);
    margin-left: 8px;
    margin-right: 0;
    // padding: 1px 12px;
  }
}
