.tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 9px;
  font-weight: 700;
  border-radius: 999px;
  color: var(--color-point);
  background-color: var(--color-point-sub-2);

  &.info {
    background-color: var(--color-point-sub-1);
    height: 26px;
    display: inline-block;
    line-height: 1;
    padding: 7px 12px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.tpl_list {
    font-size: 13px;
    padding: 3px 10px;
    color: #fff;
    margin-right: 8px;
    background-color: var(--color-gr-2);
  }

  &.select {
    justify-content: center;
    margin-left: 8px;
    margin-right: 0;
    // padding: 1px 12px;
  }
}
