@use "../../assets/css/global.module.scss" as global;

.selector_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  button {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    color: var(--color-gr-font);
    font-size: 14px;
    border-radius: 999px;
    line-height: 1;
    height: 32px;
    @include global.flex_center;
    font-weight: 600;

    &.action {
      background-color: var(--color-point-sub-2);
      border: 1px solid var(--color-point);
      color: var(--color-point);
      font-weight: 600;
    }

    &.disabled {
      background-color: var(--color-border);
      border: none;
    }
  }
}
