@use "../../assets/css/global.module.scss" as global;

.section_box {
  @include global.box;
  width: 100%;
  padding: 32px;

  .content {
    min-height: 738px;
  }

  .tool_bar_wrapper {
    margin-bottom: 24px;
  }
}

.tab_wrapper {
  width: 100%;
  margin-bottom: 32px;
}

// ---------------------------------------------------------
// 직원관리 pg
.user_tab_pg_section {
  display: flex;

  // 조직도 전체
  .left_content {
    width: calc(100% / 5);
    border-right: 1px solid var(--color-border);
    padding-right: 20px;

    .title_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      // 조직도 타이틀
      .org_tree_title {
        display: flex;

        .tree_icon {
          width: 20px;
          margin-right: 8px;
          display: flex;
          align-items: center;
        }

        .org_title {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  // 오른쪽 테이블
  .right_content {
    flex: 1;
    padding-left: 32px;
  }
}

// 훈련로그
.log_wrapper {
  width: 100%;
}

// 기본설정
.default_setting_wrapper {
  width: 100%;
  display: flex;
  gap: 80px;

  // 오른쪽 왼쪽 공통
  .right_wrapper,
  .left_wrapper {
    flex: 1;

    .title {
      padding: 16px 0;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 32px;
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  // 오른쪽
  .right_wrapper {
  }
}

.input_group {
  display: flex;
  margin-bottom: 24px;

  .input_label {
    width: 110px;
    margin-right: 5px;
    padding-top: 15px;
    font-size: 16px;
    display: flex;
  }

  .label {
    width: 110px;
    margin-right: 5px;

    font-size: 16px;
    display: flex;
    align-items: center;

    .alert_wrapper {
      position: relative;

      button {
        margin-left: 4px;
      }

      .alert_content_box {
        position: absolute;
        z-index: 999px;
        background-color: #fff;
        padding: 16px;
        border-radius: 8px;
        width: 208px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);

        @include global.opacityHidden;
        p {
          font-size: 13px;
          color: var(--color-gr-1);
          font-weight: 400;
          line-height: 20px;
          word-break: keep-all;
        }

        &.alert_content_action {
          opacity: 1;
        }
      }
    }
  }

  .radio_box {
    display: flex;
    gap: 32px;
    height: 44px;
    align-items: center;
  }

  .input_box {
    flex: 1;
  }

  .test_btn_box {
    display: flex;
    align-items: center;

    padding-top: 2px;

    .result_server_text {
      font-size: 16px;
      font-weight: 600;
      margin-left: 16px;

      img {
        margin-left: 8px;
      }

      span {
        margin-left: 8px;
        font-size: 13px;
        font-weight: 400;
        color: var(--color-gr-1);
      }
    }
  }
}
