@use "../../assets/css/global.module.scss" as global;

.section_box {
  @include global.box;
  width: 100%;
  padding: 8px 40px 48px;
}

// 상단 타이틀
.sub_title_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 32px;

  i {
    width: 24px;
    margin-right: 10px;
  }
  .sub_title {
    font-weight: 600;
    font-size: 20px;
  }
}

// ---------------------------------------------------
.content_wrapper {
  margin-bottom: 100px;
  width: 100%;
}

//
.content {
  display: flex;
  width: 100%;
  gap: 56px;

  .content_left {
    width: calc(100% / 2);
  }
  .content_right {
    width: calc(100% / 2);
  }
}

.content_item {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
}

// 훈련명을 입력 / 훈련 기간
.input,
.date_input_wrapper {
  width: calc(100% - 81px);
}

.radio_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

// 선택 영역
.select_wrapper {
  width: 100%;
}

// 미실행 실행
.check_box_wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 81px);

  .check_box_item {
    display: flex;
    span {
      margin: 0 24px 0 10px;
      display: flex;
      align-items: center;
    }
  }
}

// ----------------------------------------------------
// 훈련명 메일템플릿 등

.label {
  font-size: 16px;
  display: flex;
  width: 81px;
  height: 44px;
  align-items: center;
  margin-right: 24px;

  // 필수
  .required_mark {
    @include global.required_mark;
  }
}

.caption {
  @include global.caption_font;
  @include global.flex_center(end, center);
}

// -----------
.template_section_header {
  display: flex;
  justify-content: space-between;
}

// 타이틀
.label_group {
  display: flex;
}

// ===========================

// li 선택된 각각의 item

// 제출 버튼
.submit_btn_wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0;
  border-top: 1px solid var(--color-border);
  margin-top: 20px;
}
