.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxInput + span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #acacac;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
}

.checkboxInput:checked + span {
  background-color: var(--color-point);
  border: 1px solid var(--color-point);
  background-image: url("../../../../public/images/check_on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkboxInput:disabled + span {
  background-color: var(--color-gr-box);
  cursor: not-allowed;
}

.checkboxInput:disabled:checked + span {
  background-color: var(--color-gr-box);
}

label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
