@use "../assets/css/global.module.scss" as global;

.root_layout_wrapper {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.content_wrapper {
  width: calc(100% - 256px);
  margin-left: 256px;
}

main {
  background-color: #f3f3f3;

  .main_content_wrapper {
    width: 100%;
    min-height: 100vh;
    padding: calc(72px + 32px) 56px 65px 56px;
  }
}

// Aside
.aside_inner {
  padding: 0 20px 0 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

aside {
  width: 256px;
  background-color: var(--color-side);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999999999999999;

  //   mcts 로고
  .logo_wrapper {
    height: 72px;
    width: 100%;
    font-family: "Gotham", sans-serif;
    color: #fff;
    display: flex;

    .logo {
      display: flex;
      align-items: end;

      h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
      }

      span {
        font-size: 18px;
        margin-left: 8px;
      }
    }
  }

  //   lnb
  .accordion_lnb_wrapper {
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 72px);

    .lnb_item {
      //menu
      button {
        position: relative;
        height: 56px;
        width: 100%;
        color: #fff;
        padding: 0 20px 0 32px;
        font-size: 16px;
        width: 100%;
        display: flex;

        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 20px;
          height: 20px;
          right: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }

        // 아이콘
        i {
          width: 20px;
          height: 20px;
          margin-right: 16px;
          @include global.flex_center;
        }

        // 로그아웃
        &.logout_btn {
          height: 60px;
          font-size: 14px;
          background-color: #111520;
          color: #b8b8b8;
        }
      }

      //   sub
      .lnb_sub_wrapper {
        width: 100%;
        max-height: 0;
        transition: max-height 0.4s ease;
        overflow: hidden;

        a {
          width: 100%;

          li {
            height: 56px;
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 16px;
            padding: 0 20px 0 34px;
            background-color: rgba(255, 255, 255, 0.16);
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);

            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 20px;
              height: 20px;
              right: 20px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }

          //   sub menu 클릭했을때
          &.active {
            li {
              background-color: #ffffff;
              color: var(--color-side);

              &::after {
                background-image: url("../../public/images/menu_sub_down.svg");
                width: 20px;
                background-size: auto;
              }
            }
          }
        }
      }

      //   menu 클릭했을 때
      &.btn_accordion_action {
        button {
          background-color: rgba(47, 128, 236, 0.2);

          &::after {
            background-image: url("../../public/images/menu_down.svg");
            width: 20px;
            background-size: auto; // ✅ 핵심!
          }
        }

        .lnb_sub_wrapper {
          max-height: calc(56px * 7);
        }
      }

      &.btn_direct_action {
        button {
          background-color: rgba(47, 128, 236, 0.2);

          &::after {
            background-image: url("../../public/images/menu_action.svg");
            width: 20px;
            background-size: auto;
          }
        }
      }
    }
  }
}

// Header
header {
  position: fixed;
  width: calc(100% - 256px);
  top: 0;
  left: 256px;
  height: 72px;
  border-bottom: 1px solid var(--color-border);
  background-color: #fff;
  z-index: 999999999999;
  .inner {
    @include global.inner;
    height: 100%;
    width: 100%;
  }

  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .user_wrapper {
      @include global.flex_center;
      //   유저 아이콘
      .user_icon {
        width: 20px;
        height: 20px;
        background-color: var(--color-point);
        border-radius: 99px;
        @include global.flex_center;
      }

      //   홍길동
      .user_name {
        font-size: 17px;
        margin: 0 2px 0 8px;
        font-weight: 600;
      }
      //   님
      .user_suffix {
        font-size: 15px;
      }

      //   화살표 아이콘
      .vector_icon {
        @include global.flex_center;
        width: 20px;
        height: 20px;
        margin-left: 2px;
      }
    }
  }
  //   이메일 훈련 솔루션 MCTS v3.1
  h2 {
    color: var(--color-gr-3);
    font-size: 16px;
  }
}
